*, #*, .* {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: #2C3E50;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  max-width: 800px;
  background-color: #ECECEC;
  color: black;
  margin: 0 auto;
  text-align: center;
  padding: 15px 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  position: relative;
}

h1, h2, h3, .choice, .winner, .button {
  font-family: 'Roboto Slab', serif;
  color: #101010;
}

.button {
  background-color: #F4B350;
  max-width: 180px;
  font-size: 0.85em;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
}

.button:hover {
  background-color: #F89406;
}

#start.button {
  margin-bottom: 20px;
}

.title {
  margin: 15px 0;
}

.choice, .winner {
  font-weight: 800;
  font-size: 1.5em;
  min-height: 2em;
}

.choice img,
.winner img {
  max-height: 2em;
}

.right-container, .left-container {
  padding: 10px;
  color: white;
  font-weight: 800;
  min-width: 80px;
}

.left-container {
  background-color: #1E8BC3;
  position: absolute;
  left: 0;
  bottom: 27%;
  border-radius: 0 5px 5px 0;
}

.right-container {
  background-color: #EC644B;
  position: absolute;
  right: 0;
  bottom: 27%;
  border-radius: 5px 0 0 5px;
}
